<nav class="bg-dark w-full p-6 flex gap-4 items-center lg:px-40 xl:px-80">
  <div class="w-28">
    <img src="./../assets/logos/xspotlight-light.svg" class="bg-dark" />
  </div>
  <div class="flex-1">
    <input
      placeholder="Search items, collections, creators"
      class="bg-black p-4 w-full rounded-full"
    />
  </div>

  <ul class="flex text-white bg-black rounded-full p-4 items-center gap-3">
    <li>Home</li>
    <li>Blog</li>
    <li>Explore</li>
  </ul>

  <div class="bg-yellow py-3 px-4 rounded-full">
    <button class="flex">
      <mat-icon>bolt</mat-icon>
      <p>Connect</p>
    </button>
  </div>
</nav>
