<div class="bg-dark">
  <nav
    *ngIf="!showSearchBar"
    class="flex w-full gap-3 py-4 px-3 justify-center items-center"
  >
    <div class="w-28">
      <img src="./../assets/logos/xspotlight-light.svg" class="bg-dark" />
    </div>
    <div class="flex-1 lg:block hidden">
      <div class="flex items-center gap-3 bg-black p-3 w-full rounded-full">
        <input
          placeholder="Search items, collections, creators"
          class="bg-black flex-1 text-white"
        />
        <mat-icon class="text-slate-500">search</mat-icon>
      </div>
    </div>

    <div class="flex flex-1 lg:hidden">
      <div
        class="ml-auto flex items-center gap-3 bg-black p-3 rounded-full"
        (click)="toggleSearchBar()"
      >
        <mat-icon class="text-slate-500">search</mat-icon>
      </div>
    </div>

    <div class="md:block hidden">
      <ul
        class="flex text-white bg-black rounded-full py-1 px-1 items-center gap-1"
      >
        <li class="px-5 py-3 hover:bg-secondary hover:rounded-full">Home</li>
        <li class="px-5 py-3 hover:bg-secondary hover:rounded-full">Blog</li>
        <a
          [routerLink]="['/explore']"
          routerLinkActive="bg-secondary rounded-full"
          ><li class="px-5 py-3 hover:bg-secondary hover:rounded-full">
            Explore
          </li></a
        >
      </ul>
    </div>
    <div class="bg-yellow py-2 rounded-full xs: px-2 md:px-4">
      <button class="flex">
        <mat-icon>bolt</mat-icon>
        <p class="md:block hidden">Connect</p>
      </button>
    </div>
  </nav>
  <nav class="flex py-4 px-3 items-center gap-3" *ngIf="showSearchBar">
    <div
      class="flex gap-3 bg-black p-3 w-full rounded-full justify-center items-center"
    >
      <input
        placeholder="Search items, collections, creators"
        class="bg-black flex-1 text-white"
      />
      <mat-icon class="text-slate-500">search</mat-icon>
    </div>
    <mat-icon (click)="toggleSearchBar()" class="text-white">close</mat-icon>
  </nav>
</div>

<div class="subMenu md:hidden mt-8">
  <ul
    class="flex place-content-stretch justify-evenly pt-6 px-4 items-center gap-4 text-white"
  >
    <li
      class="hover:bg-dark2 flex-1 flex justify-center items-center rounded-full py-2 text-white"
    >
      Home
    </li>
    <li
      class="hover:bg-dark2 flex-1 flex justify-center items-center rounded-full py-2 text-white"
    >
      Blog
    </li>
    <a
      [routerLink]="['/explore']"
      routerLinkActive="bg-dark2 flex-1 rounded-full"
    >
      <li
        class="hover:bg-dark2 flex-1 flex justify-center items-center rounded-full py-2"
      >
        Explore
      </li></a
    >
  </ul>
</div>
