<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 container pt-8">
<div (click)="openNftDetails(nft.identifier)"
  *ngFor="let nft of nfts; let i = index"
  class=" content-center items-center border border-secondary rounded-md group cursor-pointer"
>
  <div class="overflow-hidden ">
    <div class="overflow-hidden">
    <img
      [src]="nft?.media[0]?.thumbnailUrl"
      alt="carousel item "
      class="rounded-md hover:scale-105 duration-500 "
    /></div>

    <div
      class="bottom-0 p-4 md:p-4 w-full bg-secondary group-hover:bg-secondary_hover rounded-b-md"
    >
      <div class="flex flex-nowrap gap-2 items-center content-center">
        <p class="text-lg md:text-2xl text-white font-normal truncate">
          {{ nft?.name }}
        </p>
      </div>

      <div class="flex justify-between content-center items-center pt-2">
        <div class="flex gap-3 pl-1 pr-4 py-1 w-fit-content items-center">
          <img
            src="./../../assets/bg/user-placeholder.jpeg"
            class="w-6 border-neutral-700 rounded-full"
          />
          <p class="md:text-lg font-base justify-end text-yellow" >
            {{ nft?.creator | trimText }}
          </p>
        </div>
        <p class="text-zinc-400 pt-1 font-normal text-xs md:text-sm">Creator</p>
      </div>
    </div>
  </div>
</div>
</div>
