<div
  class="container bg-secondary rounded-md p-6 flex flex-col lg:flex-row lg:justify-between lg:items-center"
>
  <p
    class="text-white text-center text-2xl mb-6 lg:mb-0 lg:flex-1 lg:self-center lg:text-left"
  >
    Stay involved and never miss an update!
  </p>
  <div class="flex flex-col sm:hidden">
    <input
      placeholder="Subscribe to newsletter"
      type="email"
      class="p-4 rounded-full bg-black text-zinc-800"
    />
    <button class="bg-yellow mt-3 p-4 text-black rounded-full">
      Subscribe
    </button>
  </div>

  <div class="hidden sm:block lg:flex-1">
    <div class="flex flex-row bg-black rounded-full justify-between">
      <input
        placeholder="Subscribe to newsletter"
        type="email"
        class="p-5 rounded-full bg-black text-zinc-800 text-lg"
      />
      <button
        class="bg-yellow px-6 m-2 text-lg text-black rounded-full justify-self-end"
      >
        Subscribe
      </button>
    </div>
  </div>
</div>
