<div class="relative elem">
  <img
    src="./../../assets/bg/welcome-visual-1.4b52af72.png"
    class="welcome-visual-1"
  />
  <img
    src="./../../assets/bg/welcome-visual-2.79ae1f19.png"
    class="welcome-visual-2"
  />
</div>

<div
  class="md:mt-8 relative container w-full flex items-center justify-center flex-col h-[440px] md:h-[500px] lg:h-[500px]"
>
  <img
    src="./../../assets/bg/bg-blur.svg"
    class="absolute top-0 left-1/2 transform -translate-x-1/2 w-full h-full object-cover overflow-x-visible"
  />
  <p
    class="relative z-10 text-white text-4xl sm:text-4xl md:text-7xl font-extrabold"
  >
    The MultiversX
  </p>

  <span class="text-yellow text-4xl sm:text-4xl md:text-7xl font-extrabold">
    Web3 Culture Hub</span
  >
  <p
    class="text-text_silver text-lg text-center pt-4 md:text-xl px-3 md:px-30 lg:px-50 xl:px-50"
  >
    Join creators, founders, builders, collectors and fellow enthusiasts from
    all over the world in this life changing journey of exploration.
  </p>
</div>

<div
  class="container flex flex-col md:flex-row bg-dark rounded-md py-7 xl:py-5 pr-4 pl-4 md:pl-9 gap-5 md:gap-2 px-4"
>
  <div class="flex flex-col">
    <p class="text-yellow font-thin lg:text-md xl:text-lg lg:pb-4 xl:py-8">
      EDITORIAL
    </p>
    <p class="text-white text-2xl font-bold pb-5">Welcome to xSpotlight</p>
    <p class="text-zinc-400 text-md lg:text-lg font-thin">
      Here you will find amazing content from across the MultiversX, created by
      people all over the world pushing the boundaries of creativity and
      technology.
    </p>

    <button
      class="rounded-full bg-secondary hover:bg-secondary_hover w-fit-content text-yellow mt-5"
    >
      <a routerLink="/welcome" class="flex items-center py-2 px-4 gap-1">
        <p class="text-lg">Read More</p>
        <mat-icon class="text-xl !h-auto">arrow_forward</mat-icon>
      </a>
    </button>
  </div>
  <img
    src="./../../assets/bg/welcome-image04.svg"
    class="rounded-md md:w-3/6"
  />
</div>

<div class="container relative flex flex-col md:flex-row gap-4 pt-14 lg:pt-20">
  <img
    src="./../../assets/bg/cta-line.svg"
    class="absolute bottom-[-4vh] left-1/2 transform -translate-x-1/2 w-full md:w-screen h-full object-none overflow-x-visible line md:block hidden"
  />

  <div class="bg-dark p-8 rounded-md">
    <p class="text-white font-bold text-xl md:text-2xl">Explore</p>
    <p class="text-zinc-400 md:text-md lg:text-lg font-thin">
      Discover the best, go beyond the surface, learn about what matters.
    </p>
  </div>
  <div class="bg-dark p-8 rounded-md">
    <p class="text-white font-bold text-xl md:text-2xl">Collect</p>
    <p class="text-zinc-400 md:text-md lg:text-lg font-thin">
      Choose favorite creators and projects, make them part of your collection.
    </p>
  </div>
  <div class="bg-dark p-8 rounded-md">
    <p class="text-white font-bold text-xl md:text-2xl">Engage</p>
    <p class="text-zinc-400 md:text-md lg:text-lg font-thin">
      Get involved with the community, represent the projects you believe in.
    </p>
  </div>
</div>
