<div class="relative elem">
  <img
    src="./../../assets/bg/welcome-visual-1.4b52af72.png"
    class="welcome-visual-1"
  />
  <img
    src="./../../assets/bg/welcome-visual-2.79ae1f19.png"
    class="welcome-visual-2"
  />
</div>

<div
  class="relative container w-full flex items-center justify-center flex-col h-[500px] md:h-[500px] lg:h-[500px]"
>
  <img
    src="./../../assets/bg/bg-blur.svg"
    class="absolute top-0 left-1/2 transform -translate-x-1/2 w-full h-full object-cover overflow-x-visible"
  />
  <p
    class="relative z-10 text-white text-4xl sm:text-4xl md:text-7xl font-extrabold"
  >
    The MultiversX
  </p>

  <span class="text-yellow text-4xl sm:text-4xl md:text-7xl font-extrabold">
    Web3 Culture Hub</span
  >
  <p
    class="text-text_silver text-lg text-center pt-4 md:text-xl px-10 md:px-18 lg:px-40 xl:px-50"
  >
    Join creators, founders, builders, collectors and fellow enthusiasts from
    all over the world in this life changing journey of exploration.
  </p>
</div>
