<div class="container flex flex-col items-center pt-30">
  <p class="home-section-title text-3xl md:text-5xl font-bold">Trending Collections</p>
  <div class="grid grid-cols-12 w-full items-center pt-2">
    <p
      class="text-text_silver text-lg md:text-xl md:pt-5 col-start-1 col-end-13 md:col-start-4 md:col-end-10 text-center"
    >
      Most on-demand collections in the entire ecosystem.
    </p>
 <button
      class="flex items-center gap-1 justify-self-center md:justify-self-end w-fit-content bg-secondary text-yellow px-6 py-3 rounded-full text-md md:text-lg font-bold mt-4 md:mt-0 col-start-1 col-end-13 md:col-start-10 md:col-end-13"
    >
      <p>View all</p>
      <mat-icon class="text-xl !h-auto">arrow_forward</mat-icon>
</button>

  </div>
</div>
