<app-navbar-mobile></app-navbar-mobile>
<div
  class="relative h-[600px] md:h-[700px] xl:h-[850px]  sm:-mt-5 lg:-mt-20 overflow-hidden"
>
  <img
    src="../../assets/bg/welcome01.png"
    class="absolute -left-[15%] h-48 sm:h-56 md:h-80 lg:h-96 xl:h-[40rem] top-1/3 noIndex"
  />
  <img
    src="../../assets/bg/welcome02.png"
    class="absolute -right-[3%] h-32 sm:h-44 md:h-52 lg:h-80 xl:h-96 top-0 noIndex"
  />
  <img
    src="../../assets/bg/welcome03.png"
    class="absolute right-[4%] md:right-[10%] h-32 md:h-44 lg:h-52 xl:h-80 bottom-0 noIndex"
  />
  <img
    src="./../../assets/bg/bg-blur.svg"
    class="absolute top-0 left-1/2 transform -translate-x-1/2 w-full h-full object-cover noIndex overflow-x-visible overflow-visible"
  />

  <div
    class="flex flex-col gap-5 lg:gap-8 items-center px-6 transform translate-y-1/4 md:translate-y-1/3 w-full h-full"
  >
    <p class="text-yellow text-lg lg:text-xl">What's New?</p>
    <p
      class="text-white text-4xl md:text-5xl lg:text-7xl font-bold text-center"
    >
      Welcome to xSpotlight!
    </p>
    <p
      class="text-blog_text text-center text-base md:text-lg md:mx-[18%] xl:mx-[28%]"
    >
      Here you will find amazing content from across the MultiversX, created by
      people all over the world pushing the boundaries of creativity and
      technology. Our spotlight shines a light on all these amazing creators and
      projects that deserve our praise and recognition.
    </p>
    <img
      src="../../assets/logos/down_arrow.svg"
      class="transform translate-x-1/2 pt-5 md:pt-14"
    />
  </div>
</div>
<div class="mt-36 md:mt-24 container relative">
  <img
    src="../../assets/bg/bg-blur.svg"
    class="absolute noIndex top-1/3 lg:top-1/4"
  />
  <img
    src="./../../assets/bg/cta-line.svg"
    class="absolute left-1/2 transform -translate-x-1/2 w-full md:w-screen h-full object-none overflow-x-visible noIndex md:block hidden"
  />
  <p
    class="home-section-title  text-4xl md:text-5xl font-bold text-center m-auto w-fit-content"
  >
    xSpotlight Features
  </p>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-8 mt-20">
    <div
      class="bg-secondary flex flex-row flex-nowrap gap-5 p-4 md:p-6 rounded-md items-center"
    >
      <img
        src="../../assets/bg/icon-home-welcome.svg"
        class="bg-dark p-4 rounded-md h-14 w-auto md:h-20 md:p-6"
      />

      <p class="text-white text-sm lg:text-base">
        Enhanced aggregation and curation of Web3 projects, through additional
        featured & trending areas of our homepage.
      </p>
    </div>

    <div
      class="bg-secondary flex flex-row flex-nowrap gap-4 p-4 md:p-6 rounded-md items-center"
    >
      <img
        src="../../assets/bg/icon-verified-welcome.svg"
        class="bg-dark p-4 rounded-md h-14 w-auto md:h-20 md:p-6"
      />
      <p class="text-white text-sm lg:text-base">
        The source of truth, through the verified badge applied to verified
        NFTs, creators and collections.
      </p>
    </div>

    <div
      class="bg-secondary flex flex-row flex-nowrap gap-4 p-4 md:p-6 rounded-md items-center"
    >
      <img
        src="../../assets/bg/icon-search-welcome.svg"
        class="bg-dark p-4 rounded-md h-14 w-auto md:h-20 md:p-6"
      />
      <p class="text-white text-sm lg:text-base">
        Improved Explore section for easily finding specific NFTs, collections
        and creators with advanced filters and sorting options.
      </p>
    </div>

    <div
      class="bg-secondary flex flex-row flex-nowrap gap-4 p-4 md:p-6 rounded-md items-center"
    >
      <img
        src="../../assets/bg/icon-world-welcome.svg"
        class="bg-dark p-4 rounded-md h-14 w-auto md:h-20 md:p-6"
      />
      <p class="text-white text-sm lg:text-base">
        Social dynamics, through asynchronous user connectivity, public profiles
        linked to herotags, and customizable Web3 feed
      </p>
    </div>

    <div
      class="bg-secondary flex flex-row flex-nowrap gap-4 p-4 md:p-6 rounded-md items-center md:col-start-1 md:col-end-3 md:ml-[25%] md:mr-[25%]"
    >
      <img
        src="../../assets/bg/icon-megaphone-welcome.svg"
        class="bg-dark p-4 rounded-md h-14 w-auto md:h-20 md:p-6"
      />
      <p class="text-white text-sm lg:text-base">
        Promotion of ecosystem partners, through integration of their existing
        auctions and marketplace listings.
      </p>
    </div>
  </div>
</div>

<div class="container my-52 relative">
  <div class="roadMap h-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-20">
      <div
        class="rounded-md bg-dark p-8 flex flex-col gap-2 ml-4 md:ml-0 relative"
      >
        <div
          class="absolute h-2 w-2 bg-slate-300 rounded-full -left-[18px] md:left-auto md:-right-[44px] top-1/2"
        ></div>
        <p class="text-white text-xl">Be a Beacon of Light</p>
        <p class="text-blog_text text-base">
          You can now submit your project to be featured on xSpotlight.com!
          Before you do, however, please take a close look at the selection
          criteria below. We aim to identify and recognize the most impactful,
          well-executed, and innovative projects from the MultiversX ecosystem.
        </p>
        <button
          class="bg-yellow mt-2 text-sm text-dark_wallet rounded-full w-fit-content px-4 py-3 font-bold"
        >
          <a href="https://submit.xspotlight.com/" target="_blank">
            Submit your project</a
          >
        </button>
      </div>
      <div class="hidden md:block"></div>
      <div class="hidden md:block"></div>
      <div
        class="rounded-md bg-dark p-8 flex flex-col gap-2 ml-4 md:ml-0 relative md:place-self-end"
      >
        <div
          class="absolute h-2 w-2 bg-slate-300 rounded-full -left-[18px] md:-left-[44px] top-1/2"
        ></div>
        <p class="text-white text-xl">Lighthouse Series</p>
        <p class="text-blog_text text-base">
          As we weather the present times, our goal is more important than ever:
          be the beacon of light for the ecosystem, provide a guide during
          uncertain times, offer helpful resources, sage advice, and unwavering
          support. All with the aim of better navigating the waters, and
          emerging more fortified on the other side.
        </p>
        <button
          class="bg-secondary mt-2 text-sm text-yellow rounded-full w-fit-content px-4 py-3 font-bold"
        >
          Starting in 2 weeks
        </button>
      </div>

      <div class="rounded-md bg-dark p-8 flex flex-col gap-2 ml-4 relative">
        <div
          class="absolute h-2 w-2 bg-slate-300 rounded-full -left-[18px] md:left-auto md:-right-[44px] top-1/2"
        ></div>

        <p class="text-white text-xl">
          Understanding NFTs and Web3 Communities
        </p>
        <p class="text-blog_text text-base">
          You have no doubt heard the term Web3 thrown around a lot lately, but
          do you actually understand what it means? Or maybe you just need a
          refresher on its principal building blocks. Have no fear, we got you
          covered.
        </p>
        <button
          class="bg-secondary mt-2 text-sm text-yellow rounded-full w-fit-content px-4 py-3 font-bold"
        >
          Coming soon
        </button>
      </div>
    </div>
  </div>
</div>
<app-tweets></app-tweets>
<app-news-letter></app-news-letter>
