.home-section-title {
  background: linear-gradient(270deg, #fbca1c, #8533ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  margin: 0px;
}
.carousel {
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  height: 9rem;
}

.carousel-track {
  display: flex;
  height: inherit;
}
@media (max-width: 425px) {
  .carousel-slide {
    flex: 0 0 80%;
    scroll-snap-align: start;
  }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  .carousel-slide {
    flex: 0 0 58%;
    scroll-snap-align: start;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .carousel-slide {
    flex: 0 0 57%;
    scroll-snap-align: start;
  }
  .carousel {
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: 11rem;
  }
}

@media (min-width: 992px) {
  .carousel-slide {
    flex: 0 0 32%;
    scroll-snap-align: start;
  }
  .carousel {
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: 11rem;
  }
}
img{
  margin: 0 auto;
}
.iosOver{
  overflow-x: visible;
}
