<div *ngIf="loading && nfts.length == []; else dataLoaded">
  <app-skeleton-loader></app-skeleton-loader>
</div>
<ng-template #dataLoaded>
  <app-navbar-mobile></app-navbar-mobile>
  <div class="container">
    <div class="flex flex-row flex-nowrap items-center gap-2 mt-12">
      <p class="text-white text-lg md:text-xl lg:text-4xl font-bold">
        Collection {{ nfts[0]?.ticker }}
      </p>
      <img src="./../../../../assets/logos/verifid.svg" />
      <a
        href="https://multiversx-explorer.vercel.app/collections/{{nfts[0]?.collection}}"
      >
        <img src="./../../../../assets/logos/redirect.svg" class="h-4"
      /></a>
    </div>

    <div
      class="border-neutral-800 border-1 rounded-md mt-5 text-white grid grid-cols-2 lg:grid-cols-3 items-center justify-center p-4 md:p-6 lg:p-8 mb-3"
    >
      <div
        class="justify-self-center font-bold text-center border-r border-r-zinc-600 w-full"
      >
        <p class="text-2xl">{{ collectionDetail?.nftCount | number }}</p>
        <p class="text-sm text-neutral-500">Total</p>
      </div>
      <div
        class="justify-self-center font-bold text-center lg:border-r lg:border-r-zinc-600 w-full"
      >
        <p class="text-2xl">{{ collectionDetail?.holderCount | number }}</p>
        <p class="text-sm text-neutral-500">Holders</p>
      </div>
      <div
        class="justify-self-center font-bold text-center col-start-1 col-end-3 lg:col-start-3 lg:col-end-4 w-full pt-3 lg:pt-0"
      >
        <p class="text-2xl text-yellow">
          {{ collectionDetail?.owner | trimText }}
        </p>
        <p class="text-sm text-neutral-500">Owner</p>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 pt-8">
      <div
        *ngFor="let nft of nfts; let i = index" (click)="redirectToNftDetail(nft.ticker)"
        class="content-center items-center border border-secondary rounded-md group cursor-pointer"
      >
        <div class="overflow-hidden">
          <div class="overflow-hidden">
            <img
              [src]="nft?.media[0]?.thumbnailUrl"
              alt="carousel item "
              class="rounded-md hover:scale-105 duration-500"
            />
          </div>

          <div
            class="bottom-0 p-4 md:p-4 w-full bg-secondary group-hover:bg-secondary_hover rounded-b-md"
          >
            <div class="flex flex-nowrap gap-2 items-center content-center">
              <p class="text-lg md:text-2xl text-white font-normal truncate">
                {{ nft?.name }}
              </p>
            </div>

            <div class="flex justify-between content-center items-center pt-2">
              <div class="flex gap-3 pl-1 pr-4 py-1 w-fit-content items-center">
                <img
                  src="./../../assets/bg/user-placeholder.jpeg"
                  class="w-6 border-neutral-700 rounded-full"
                />
                <p class="md:text-lg font-normal justify-end text-yellow cursor-pointer" (click)="redirectToUser( nft?.creator)">
                  {{ nft?.creator | trimText }}
                </p>
              </div>
              <p class="text-zinc-400 pt-1 font-normal text-xs md:text-sm">
                Creator
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
