<div class="container flex flex-col items-center pt-30 md:pt-60">
  <p class="home-section-title text-3xl md:text-5xl font-bold">
    Featured Collections
  </p>
  <div class="grid grid-cols-12 w-full items-center pt-2">
    <p
      class="text-text_silver text-lg md:text-xl md:pt-5 col-start-1 col-end-13 md:col-start-4 md:col-end-10 text-center"
    >
      Collections with hyper-engaged communities.
    </p>
  </div>
</div>

<div
  *ngFor="let collection of items; let i = index"
  class="border-t border-b border-gray-700 my-9 relative overflow-hidden z-0 backdrop-blurr"
>
  <img
    [src]="collection[0]?.media[0]?.thumbnailUrl"
    class="absolute top-0 bottom-0 !h-full noIndex blur-3xl opacity-20"
  />

  <div class="my-16 container">
    <div class="flex gap-3 content-center items-center">
      <img
        [src]="collection[0]?.media[0]?.thumbnailUrl"
        class="w-24 h-24 rounded-full border-8 border-gray-900"
      />
      <div class="text-white pb-5" >
        <div class="flex flex-row flex-nowrap gap-3">
          <p class="text-2xl md:text-4xl font-bold pb-1">
            {{ collection[0]?.ticker }}
          </p>
          <mat-icon class="text-2xl md:text-4xl h-auto">chevron_right</mat-icon>
        </div>
        <p
          class="md:text-xl"
          *ngIf="collection[0]?.metadata?.description; else desc"
        >
          {{ collection[0]?.metadata?.description }}
        </p>
        <ng-template #desc>
          <p class="md:text-xl">
            {{ collection[0]?.assets.description }}
          </p></ng-template
        >
      </div>
    </div>

    <!-- Inner loop: iterate over the objects in the current sub-array -->
    <div class="carousel no-scrollbar z-1" *ngIf="collection?.length">
      <div class="carousel-track flex gap-3 md:gap-6 pt-11">
        <div
          class="carousel-slide rounded-md relative overflow-hidden"
          *ngFor="let item of collection"
        >
          <img
            [src]="item?.media[0]?.thumbnailUrl"
            alt="carousel item "
            class="rounded-md absolute hover:scale-105 duration-500"
          />

          <div
            class="absolute bottom-0 p-4 md:p-6 w-full bg-secondary hover:bg-secondary_hover rounded-b-md"
          >
            <div class="flex flex-nowrap gap-2 items-center content-center">
              <p class="text-lg md:text-2xl text-white font-normal truncate">
                {{ item?.name }}
              </p>
              <mat-icon class="text-yellow text-sm md:text-lg self-end md:self-start"
                >verified</mat-icon
              >
            </div>

            <div class="flex justify-between content-center items-center pt-2">
              <div class="flex gap-3 pl-1 pr-4 py-1 w-fit-content items-center">
                <img
                  src="./../../assets/bg/user-placeholder.jpeg"
                  class="w-6 border-neutral-700 rounded-full"
                />
                <p class=" md:text-lg justify-end text-yellow">
                  {{ item?.creator | trimText }}
                </p>
              </div>
              <p class="text-zinc-400 pt-1 font-normal text-xs md:text-sm">
                Creator
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
