.mat-mdc-dialog-content {
  max-height: 100vh !important;
  margin: 0px;
  padding: 0px;
}
.full-screen-modal .cdk-overlay-pane {
  background: rgba(
    255,
    255,
    255,
    0.8
  ); /* Adjust the rgba values to achieve the desired transparency */
  backdrop-filter: blur(
    5px
  ); /* Adjust the pixel value to achieve the desired blur */
}
.glow-image {
  filter: blur(25px) brightness(2);
  z-index: 1;
}
p {
  margin: 0px;
}
