<div
  class="bg-secondary flex flex-col content-center items-cente mt-24 px-3 pt-12"
>
  <img src="./../../../assets/logos/xspotlight-light.svg" class="h-6 w-auto" />
  <p class="text-sm text-zinc-400 self-center py-2">
    Own a piece of Web3 culture.
  </p>
  <p class="text-zinc-400 text-center font-thin py-2 px-3">
    The front-page of the MultiversX NFT ecosystem. Create, buy and sell NFTs.
    Collaborate with fellow collectors and creators. Be part of the genesis of
    Web3 culture and own a piece of it.
  </p>
  <div
    class="text-zinc-500 flex flex-row gap-6 content-center justify-center text-lg py-5"
  >
    <a href="https://www.instagram.com/multiversxofficial/"
      ><i class="fab fa-instagram hover:text-slate-300"></i
    ></a>

    <a href="https://twitter.com/xSpotlightWeb3"
      ><i class="fab fa-twitter hover:text-slate-300"></i
    ></a>

    <a href="https://www.facebook.com/MultiversX/"
      ><i class="fab fa-facebook-f hover:text-slate-300"></i
    ></a>

    <a href="https://t.me/multiversx"
      ><i class="fab fa-telegram-plane hover:text-slate-300"></i
    ></a>
  </div>
  <a href="https://multiversx.com/"
    ><div
      class="flex flex-row gap-3 justify-center text-sm text-zinc-400 hover:text-zinc-300 items-center pb-16"
    >
      <p>Powered by</p>
      <img src="./../../../assets/logos/multiversx-light.png" class="h-3" />
    </div>
  </a>
</div>
